
.coursesContainer{
    /* height: fit-content; */
    margin-top:30px;
    background-color: var(--primaryColor);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.course{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: white;
    border-radius: 100px 0 100px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.courseImage{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 200px;
}



.courseTitle{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    height: 150px;
    width: 150px;
    border-radius: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}