h3 {
    /* text-align: center; */
    font-family: var(--font-type);
    height: fit-content;
    margin: 5px 0 10px 0;
}

h5 {
    margin-right: 10px;
}

.coursesContainer {
    /* background-color: var(--thirdColor); */
    /* height: fit-content; */
    margin-top: 30px;
    /* background-color: var(--primaryColor); */
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
    align-items: center;

}

.course {
    background-color: white;
    width: 300px;
    height: 500px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    filter: drop-shadow(0 0 2px gray);
}

.couresImage {
    width: 100%;
    height: 300px;
    border-radius: 10px
}

.instructor {
    height: 50px;
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    font-family: var(--font-type);
}

.instructorImage {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.sessions {
    display: flex;
    align-items: center;
    height: 20px;
    width: fit-content;
    margin-top: 5px;
    color: gray;
    font-family: var(--font-type);
}

.sessionTime {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 20px;
    margin-top: 5px;
    color: gray;
    font-family: var(--font-type);
}

.courseInfo {
    width: fit-content;
}

.coursePrice {
    display: flex;
    align-items: center;
    height: 20px;
    color: gray;
    margin-top: 5px;
    font-family: var(--font-type);
}

.courseControl {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.applyButton {
    background-color: white;
    border: 5px solid var(--primaryColor);
    border-radius: 20px;
    font-family: var(--font-type);
    font-weight: bold;
    height: 40px;
    padding: 0px 30px;
    align-self: flex-end;
}

.applyButton:hover {
    background-color: var(--primaryColor);
    color: white;
    cursor: pointer;
}