:root{
    
    --primaryColor: #440381;
    --secondaryColor: #fed700;
    --thirdColor: hsl(270, 100%, 98%);
    --hoverColor: #e5fcdd;
    --font-color: gray;
    --font-type : "Noto Kufi Arabic";
}

body{
    direction: rtl;
}

.navBar{
    position: relative;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    filter: drop-shadow(0px 0px 5px gray);
    background-color: white;
}

#logo{
    display: inline-block;
    width: 50px;
    height: 50px;
}

#burger{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: whitesmoke;
    border: none;
    border-radius: 10px;
    top: 20%;
    right: 1%;
    z-index: 1;
    visibility: hidden;

}

#burger:hover{
    filter: drop-shadow(1px 1px 30px purple);
    cursor:pointer;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    direction: rtl;
    align-items: center;
    background-color: white;
    /* filter: drop-shadow(0px 1px 10px gray); */
    width: fit-content;
    height: fit-content;
    padding: 0px 10px;
    overflow: hidden;
    position: sticky;
    top: 0%;
    z-index: 0;
}

.navLink{
    display: inline-block;
    margin: 0 ;
    text-decoration: none;
    color: #440381;
    font-family:var(--font-type) ;
    font-weight: bold;
    font-size: 12px;
    width: 80px;
    text-align: center;
}

.navLink:hover{
    filter: drop-shadow(2px 0px 10px);
    border-bottom: 3px solid #440381;
    transform: scaleX(20px);
}

.startImage{
    display: block;
    width: 95%;
    border-radius: 10px;
    margin: 20px auto;
}


footer{
    background-color: gray;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Ubuntu;
}

@media (max-width:1200px) {
    /* body{
        background-color: green;
    } */

    .nav{
        flex-direction: column;
        justify-content: center;
        margin-right: 50px;
        visibility: hidden;
        height: 50px;
    }

    .navBar{
        overflow: hidden;
        height: fit-content;
        background-color: white;
    }

    #burger{
        visibility: visible;
    }

    .aboutContainer{
        flex-direction: column;
    }
}

@keyframes expand {
    from{
        height: 50px;
        visibility: hidden;
    }

    to{
        height: 200px;
        visibility: visible;
    }
}

@keyframes shrink {
    from{
        height: 200px;
        visibility: visible;
    }

    to{
        height: 50px;
        visibility: hidden;
    }
}