
h2{
    background-color: var(--secondaryColor);
    width: 100px;
    text-align: center;
    color: var(--primaryColor);
    margin: auto;
    padding: 10px;
    font-family: var(--font-type);
    border-radius: 10px;
}  

h3{
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    font-family: var(--font-type);
}


.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bannerImageContainer{
    width: 50%;
}

.bannerContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
}

.bannerText{
    width: calc(100%-30px);
    padding:0 15px;
    text-align: center;
    border-radius: 40px;
    color: white;
    background-color: var(--primaryColor);
    font-family: var(--font-type);
}

.bannerList{
    color: grey;
    padding-right: 50px;
    font-family: var(--font-type);
    font-weight: bold;
}

.bannerImage{
    width: 100%;
}


.serviceDescription{
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    font-family: var(--font-type);
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    width: 50%;
}

.serviceImage{
    width: 200px;
    height: 200px;
    border-radius: 120px 0 120px 120px;
    background-color: var(--primaryColor);
}

.servicesContainer{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: green; */
    justify-content: center;
    align-items: center;
    font-family: Ubuntu;
}

.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.aboutContainer{
    margin-top: 50px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.aboutText{
    color:var(--font-color);
    display: block;
    font-family: var(--font-type);
    font-weight: bold;
    
}

.aboutImage{
    display: block;
    width: 30%;
    margin-left: 20px;
    filter: drop-shadow(1px 1px 10px rgb(187, 187, 187));
    border-radius: 10px;
}



.questionBody{
    padding:20px 30px;
    margin: 15px 0;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    filter: drop-shadow(0 0 5px gray);
}

.qustion{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    align-items: center;
    /* background-color: red; */
}


.questionContent{
    color: var(--primaryColor);
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: var(--font-type);
}

.answer{
    height: 0;
    padding:20px;
    font-family: var(--font-type);
    font-size: 16px;
    font-weight: bold;
    color: gray;
    overflow: hidden;
}

.drop{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    margin-right: 30px;
    color: var(--primaryColor)
}





.dropImage{
    width: 100%;
}




.contact{
    background-color: #440381;
    padding: 50px;
    color: white;
    font-family: Ubuntu;
    
}

.contactInfo{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: var(--secondaryColor);
    font-weight: bold;
}

.social{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 100px auto;
}


a{
    color: var(--secondaryColor);
    transition-duration: 0.2s;
}

a:hover{
    filter: drop-shadow(0 0 2px var(--secondaryColor));
    transform: scale(1.1);
}


.projects{
    margin:30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

#projectImage{
    margin:auto;
    min-width: 80%;
    max-width: 90%;
    max-height: 90%;
    border-radius: 20px;
}


#projectDescription{
    margin-bottom: 30px;
    width: 60%;
    background-color: white;
    border-radius:20px;
    overflow:hidden;
    filter:drop-shadow(0 0 1px gray)
}

#projectTitle{
    color: var(--primaryColor);
    font-family: var(--font-type);
    padding:10px;
}

#projectDetails{
    padding:10px;
    color:gray;
    font-family: var(--font-type);
}


