

.tracks{
    margin-top: 30px;
    background-color: beige;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.track{
    width: 400px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stage{
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.one{
    position: relative;
    background-color: #0097ff;
}
.two{
    position: relative;
    background-color: #3cc30e;
}
.three{
    position:relative;
    background-color: orange;
}
.four{
    position: relative;
    background-color: orangered;
}

.one::after{
    content: "Java Basics";
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: white;
    color: #0097ff;
    padding: 5px 15px;
    border-radius: 10px;
    position: absolute;
    right: -500%;
    font-family: Ubuntu;
    font-weight: bold;
}
.two::before{
    content: "Java OOP";
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: white;
    color: var(--primaryColor);
    padding: 5px 15px;
    border-radius: 10px;
    position: absolute;
    left: -500%;
    font-family: Ubuntu;
    font-weight: bold;
}

.three::after{
    content: "JavaFX";
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: white;
    color: orange;
    padding: 5px 15px;
    border-radius: 10px;
    position: absolute;
    right: -500%;
    font-family: Ubuntu;
    font-weight: bold;
}

.four::before{
    content: "MySQL";
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: white;
    color: orangered;
    padding: 5px 15px;
    border-radius: 10px;
    position: absolute;
    left: -500%;
    font-family: Ubuntu;
    font-weight: bold;
}
.wire{
    width: 5px;
    height: 30px;
    background-color: gray;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 30px;
}