h3{
    font-family: var(--font-type);
    font-size: 14px;
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    display: block;

}

.applyButton{
    margin-top:50px;
    padding: 0px 40px;
    height: 50px;
    border-radius: 50px;
    font-family: var(--font-type);
    font-weight: bold;
    color:var(--primaryColor);
    border: 5px solid var(--primaryColor);
}

.applyButton:hover{
    background-color: var(--secondaryColor);
    border: 5px solid var(--secondaryColor);
    cursor:pointer;
}
.tracks{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.track{
    width: 400px;
    margin-bottom: 100px;
    padding: 60px 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px gray;
}



.trackContent{
    height: fit-content;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    height: fit-content;
}

.stage{
    /* background-color:red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 54%;
}

.circle{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #0097ff;
}

.right{
    direction: rtl
}

.left{
    direction : ltr;
    width: 55%;
}

.wire{
    width: 5px;
    height: 30px;
    border-radius: 10px;
    background-color: lightgray;
}

.removebg{
    background-color:white;
}


