h2{
    color:white;
    font-family: var(--font-type);
    font-weight: bold;
    background-color: var(--primaryColor);
    width: fit-content;
    padding: 0 20px;
    border-radius: 20px;
}

h3{
    font-family: var(--font-type);
    margin: 0;
}


h5{
    display: inline;
    font-family: var(--font-type);
    width: fit-content;
    margin-right: 10px;
}

.applyButton{

    padding: 0px 40px;
    height: 50px;
    border-radius: 50px;
    font-family: var(--font-type);
    font-weight: bold;
    color:var(--primaryColor);
    border: 5px solid var(--primaryColor);
}

.applyButton:hover{
    background-color: var(--secondaryColor);
    border: 5px solid var(--secondaryColor);
    cursor:pointer;
}
.tracks{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.track{
    margin: 20px 0 ;
    padding: 10px 30px;
    width: 80%;
    /* background-color: green; */
    border-radius: 20px;
    border-radius: 20px;
    filter:drop-shadow(0 0 10px gray);
    background-color: white;
}

.trackImage{
    width: 100%;
    border-radius: 40px;
    margin-top:30px;
}

.trackContent{
    /* background-color: white; */
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.stage{
    background-image: linear-gradient(-120deg,var(--secondaryColor),rgb(255, 255, 130));
    width: 200px;
    border-radius:30px;
    padding:10px 20px;
    margin: 10px;
}

.stageDetail{
    display: flex;
    align-items: center;
    height: 25px;
}

